src/Client.Soap/Service References/SimpleService/SimpleService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mocosha.Library.KeyValueStore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mocosha.Library.KeyValueStore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReadResultOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReadResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Mocosha.Library.KeyValueStore" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadResultOfstring" nillable="true" type="tns:ReadResultOfstring" />
  <xs:complexType name="WriteResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WriteResult" nillable="true" type="tns:WriteResult" />
</xs:schema>