src/Mocosha.WcfService.SimpleStorage/Mocosha.SoapTestClient/Service References/SimpleStorage/SimpleService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SimpleStorage/SimpleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SimpleStorage/SimpleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SimpleStorage/SimpleService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/SimpleStorage/SimpleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mocosha.WcfService.SimpleStorage" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_FindById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindById" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_FindById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_AddWithKey_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWithKey" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_AddWithKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWithKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_AddAnimal_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnimal" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_AddAnimal_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnimalResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_FindAnimalById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAnimalById" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_FindAnimalById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAnimalByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpleService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/GetAll" message="tns:ISimpleService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/GetAllResponse" message="tns:ISimpleService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/FindById" message="tns:ISimpleService_FindById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/FindByIdResponse" message="tns:ISimpleService_FindById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/Add" message="tns:ISimpleService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/AddResponse" message="tns:ISimpleService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWithKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/AddWithKey" message="tns:ISimpleService_AddWithKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/AddWithKeyResponse" message="tns:ISimpleService_AddWithKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/Update" message="tns:ISimpleService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/UpdateResponse" message="tns:ISimpleService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/Remove" message="tns:ISimpleService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/RemoveResponse" message="tns:ISimpleService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnimal">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/AddAnimal" message="tns:ISimpleService_AddAnimal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/AddAnimalResponse" message="tns:ISimpleService_AddAnimal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAnimalById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/FindAnimalById" message="tns:ISimpleService_FindAnimalById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/FindAnimalByIdResponse" message="tns:ISimpleService_FindAnimalById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISimpleService" type="tns:ISimpleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/FindById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWithKey">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/AddWithKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnimal">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/AddAnimal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAnimalById">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/FindAnimalById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleService">
    <wsdl:port name="BasicHttpBinding_ISimpleService" binding="tns:BasicHttpBinding_ISimpleService">
      <soap:address location="http://localhost/SimpleStorage/SimpleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>