src/Client.Soap/Service References/SimpleStorage/SimpleService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mocosha.WcfService.SimpleStorage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mocosha.WcfService.SimpleStorage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Animal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Animal" nillable="true" type="tns:Animal" />
  <xs:complexType name="ResponseOfAnimalRKSw_P_P4R">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Mocosha.WcfService.SimpleStorage" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Animal" Namespace="http://schemas.datacontract.org/2004/07/Mocosha.WcfService.SimpleStorage" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Animal" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseOfAnimalRKSw_P_P4R" nillable="true" type="tns:ResponseOfAnimalRKSw_P_P4R" />
</xs:schema>